body{
background-color: rgb(192, 192, 245);
font: normal 15px Arial;

}
header{
    color: white;
    text-align: center;
}
div {
    text-align: center;
    pad: 8px;
    margin-top: 5px;
}

section{
    background: white;
    border-radius: 12px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.288);
}

footer{
    text-align: center;
    
}
  

